{% extends './index.html' %}

{% block title %} Results {% endblock %}

{% block body %}
<h1>{{ data.title }}</h1>

<h2>Mapa de calor</h2>
<img src="{{ data.url_image }}" alt="Heatmap" style="width: 100%">

<table border="1" cellpadding="10">
    <thead>
        <tr>
            <th>Número</th>
            <th>Columna</th>
            <th>Correlativo</th>
        </tr>
    </thead>
    <tbody>
        {% for c in data.info %}
        <tr>
            <td>{{ c.number }}</td>
            <td>{{ c.column }}</td>
            <td>{{ c.corr_target }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}