{% extends './index.html' %}

{% block title %} Images {% endblock %}

{% block body %}
<h1>{{ data.title }}</h1>

<h2>Gráfico de pastel</h2>
<img src="{{ data.pie }}" alt="Pie" style="width: 100%">

<h2>Gráfico de barras</h2>
<img src="{{ data.top_barras }}" alt="Top barras" style="width: 100%">

<h2>Histograma</h2>
<img src="{{ data.histogram }}" alt="Histograma" style="width: 100%">

<h2>Gráfico de caja</h2>
<img src="{{ data.box }}" alt="Caja" style="width: 100%">
{% endblock %}