{% extends './index.html' %}

{% block title %} Dataset {% endblock %}

{% block body %}
<h1>{{ data.title }}</h1>

<table border="1" cellpadding="10">
    <thead>
        <tr>
            <th>Número</th>
            <th>Columna</th>
            <th>Tipo de dato</th>
        </tr>
    </thead>
    <tbody>
        {% for c in data.info %}
        <tr>
            <td>{{ c.number }}</td>
            <td>{{ c.column }}</td>
            <td>{{ c.dtype }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Cantidad: {{ data.cantidad }}</h2>
{% endblock %}