{% extends './index.html' %}

{% block title %} Models {% endblock %}

{% block body %}
<h1>{{ data.title }}</h1>

<table border="1" cellpadding="10">
    <thead>
        <tr>
            <th>Modelo</th>
            <th>Accuracy</th>
            <th>Precision</th>
            <th>Recall</th>
            <th>F1-Score</th>
        </tr>
    </thead>
    <tbody>
        {% for c in data.info %}
        <tr>
            <td>{{ c.name }}</td>
            <td>{{ c.accuracy }}</td>
            <td>{{ c.precision }}</td>
            <td>{{ c.recall }}</td>
            <td>{{ c.f1_score }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Resultados</h2>
<img src="{{ data.barras }}" alt="Barras" style="width: 100%">

<ul>
    {% for c in data.matrix %}
    <li><img src="{{ c.image }}" alt="matrix"></li>
    {% endfor %}
</ul>
{% endblock %}